@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Style global de l'HTML */
  html {
    scroll-behavior: smooth;
  }
  
  /* Style global du corps de la page */
  body {
    @apply bg-white text-black; /* Fond blanc avec texte noir */
  }
}

@layer components {
  /* Espacement par défaut pour les sections */
  .section-padding {
    @apply py-20 px-4; /* Padding vertical de 20 et horizontal de 4 */
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Pour les navigateurs basés sur Webkit (Chrome, Safari) */
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
    scrollbar-width: none; /* Pour Firefox */
  }

  
  /* Type de défilement horizontal avec snaps */
  .snap-x {
    scroll-snap-type: x mandatory;
  }
  
  /* Alignement de départ pour les éléments dans le snap */
  .snap-start {
    scroll-snap-align: start;
  }
}
