@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Style global de l'HTML */
  html,
  body {
    margin: 0; /* Réinitialise les marges */
    padding: 0; /* Réinitialise les paddings */
    @apply w-full; /* Assure la pleine largeur */
    scroll-behavior: smooth;
    overflow-x: hidden; /* Évite le défilement horizontal */
  }
  
  /* Style global du corps de la page */
  body {
    @apply bg-white text-black;
  }

  /* Conteneur global */
  .container {
    @apply w-full max-w-7xl mx-auto px-4 md:px-8; /* Assure que le contenu est bien centré et adaptatif */
  }
}

@layer components {
  /* Espacement par défaut pour les sections */
  .section-padding {
    @apply py-20 px-2 md:px-4; /* Réduit le padding horizontal sur mobile */
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Pour les navigateurs basés sur Webkit (Chrome, Safari) */
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
    scrollbar-width: none; /* Pour Firefox */
  }
  
  /* Type de défilement horizontal avec snaps */
  .snap-x {
    scroll-snap-type: x mandatory;
  }
  
  /* Alignement de départ pour les éléments dans le snap */
  .snap-start {
    scroll-snap-align: start;
  }
}
